{% extends "base.html" %}

{% block content %}
<title>{{ title }}</title>
    {% if user == True %}
    <h1>Вы не авторезированые  <a href="/login">Войти</a>  </h1>
     {% else %}
<h1>Пользовательна сайте {{user}} </h1>
    {% endif %}


{% for item in db %}

<h4>
    <a href="test/{{ item['id'] }}">{{ item['login'] }}</a>
</h4>
{% endfor %}
{% for i in range(10) %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">id {{ i }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
{% endfor %}
{% endblock %}


